* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    background-color: #1f2937;
}

.header-title {
    font-size: 24px;
    color: #f9faf8;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.link,
.title-subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first-section {
    background-color: #1f2937;
    display: flex;
    padding: 125px 200px;
    height: 300px;
}

.left-side-first-section,
.right-side-first-section {
    width: 50%;
}

.main-title {
    font-size: 48px;
    font-weight:900;
    color: #f9faf8;
}

.left-side-first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.main-title,
.title-subtext {
    width: 450px;
}

.sign-up {
    color: #f9faf8;
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    font-weight: 800;
    padding: 5px 25px;
    border-radius: 7px;
}

.right-side-first-section {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-text {
    color: #f9faf8;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
    margin-bottom: 60px;
}

.second-section-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.images {
    display: flex;
    gap: 65px
}

.image-text-container {
    display: flex;
    flex-direction: column;
    width: 165px;
}

.image-box {
    border: 3px solid #3882F6;
    height: 165px;
    border-radius: 15px;
    margin-bottom: 8px;
}

.image-text-container p {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    font-weight: 300;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.quote {
    width: 790px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.fourth-section-container {
    display: flex;
    background-color: #3882F6;
    width: 1000px;
    justify-content: space-around;
    padding: 45px 0;
    color: #f9faf8;
    border-radius: 8px;
}

.fourth-section-title {
    font-size: 18px;
    color: #f9faf8;
    font-weight:900;
}

.sign-up-text {
    font-weight: 300;
}

.fourth-section button {
    border: 2px solid #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 45px 0;
}
